@page
@model Amity_Global.Break_BulkModel
@{
    <div class="px-4 py-5 my-5" style="text-align:left; padding-top:90px !important; margin:0px !important">
        <h1 class="display-5 fw-bold text-body-emphasis">Project Cargo and Breakbulk</h1>
        <div class="mx-auto">
            <p class="lead mb-4" style="text-align:left">
                Our customized solution for movement of project cargos involving chartering option
                offers global coverage, managed cost and reliance project continuity.
            </p>
            <p class="lead mb-4" style="text-align:left">
                We undertake turnkey projects which involves complete door-door logistics.
            </p>
            <p class="lead mb-4" style="text-align:left">
                We handle heavy machines like cranes, excavators, wheel loaders from any port of the USA ports.
                Our company also arranges necessary road permits to reach the final destinations.
            </p>
        </div>
    </div>


}

