@page
@model Amity_Global.Pages.ContactModel
@{
    <div class="px-4 py-5 my-5" style="text-align: left; padding-top: 90px !important; margin: 0px !important">
        <h1 class="display-5 fw-bold text-body-emphasis">Reach Us!</h1>
        <div class="mx-auto">
            <p class="lead mb-4" style="text-align:left">
                Find us at 20 Duke Road Piscataway, NJ 08854, USA
            </p>
            <p class="lead mb-4" style="text-align:left">
                Call us at +1 908 427 3341 or +1 908 635 6766
            </p>
            <p class="lead mb-4" style="text-align:left">
                Fax us at +1 908 349 3999
            </p>

        </div>
      </div>
}

