@page
@model Amity_Global.Pages.Freight_ForwardingModel
@{
    <div class="px-4 py-5 my-5" style="text-align: left; padding-top: 90px !important; margin: 0px !important">
        <h1 class="display-5 fw-bold text-body-emphasis">Air Freight</h1>
        <div class="mx-auto">
            <p class="lead mb-4" style="text-align:left">
                Express &amp; Control Air Export Air Cargo Services to Worldwide destinations for
                commercial goods and personal effects perishable, DGR goods handling expertise
                Air-Ocean chartering &amp; broking can arrange shipments of INCOTERMS Unit Load
                Device (ULD) Services to “Known &amp; Unknown Shippers”.
            </p>
        </div>
    </div>
    <div class="px-4 py-5 my-5" style="text-align:left; margin:0px !important">
        <h1 class="display-5 fw-bold text-body-emphasis">Ocean Freight</h1>
        <div class="mx-auto">
            <p class="lead mb-4" style="text-align:left">
                Sea Freight Export Consolidations, FCL &amp; LCL Services
            </p>
            <ul>
                <li>Specialized Freight Contracts for volumes exporters</li>
                <li>
                    Sea Freight Import &amp; Consolidations, FCL &amp; LCL Services Ocean Freight-RORO, Break
                    Bulk, Project Management &amp; Over Dimensions Cargo
                </li>
                <li>RORO/Break Bulk Cargo</li>
            </ul>
            <p><a asp-page="Break_Bulk">Click here to learn more about our Project Cargo and Break Bulk Solutions</a></p>
        </div>
    </div>
}

