@page
@model Amity_Global.Pages.TransportationModel
@{


    <div class="px-4 py-5 my-5" style="text-align: left; padding-top: 90px !important; margin: 0px !important">
        <h1 class="display-5 fw-bold text-body-emphasis">Transportation</h1>
        <div class="mx-auto">
            <p class="lead mb-4" style="text-align:left">
                We provide many trucking services for the customers. The local transportation
                across the USA with various sizes trucks with highly skilled truck drivers that will
                make sure your freight arrives safely at the final destination. We understand the
                importance of every part of the supply chain. We focus on moving goods to where
                they need to be in a timely manner. Due to the present trucker’s shortage in the
                USA, both Air &amp; Ocean shipments incurring heavy demurrages at ports. We have a
                strong delivery network of trucking within the USA to handle your shipments safely,
                securely &amp; deliver within a specific time. We are also serving weekend pick-ups &amp;
                deliveries from Airports &amp; Seaports/ramps.
            </p>
        </div>
    </div>

}

