@page
@model Amity_Global.Pages.WarehousingModel
@{

    <div class="px-4 py-5 my-5" style="text-align: left; padding-top: 90px !important; margin: 0px !important">
        <h1 class="display-5 fw-bold text-body-emphasis">Warehousing</h1>
        <div class="mx-auto">
            <p class="lead mb-4" style="text-align:left">
                We have our own state of the art warehouse with an area of 65,000 square feet
                equipped with top-of-the-line security systems &amp; cameras.
            </p>
            <p class="lead mb-4" style="text-align:left">
                Our warehouse is only 25 minutes from all the NY / NJ terminals.
            </p>
            <p class="lead mb-4" style="text-align:left">
                Warehouse logistics involves all movements of goods and information within
                warehouses and distribution centers. It includes activities like receiving, storage,
                order-picking, accumulation, sorting, and shipping
            </p>
            <p class="lead mb-4" style="text-align:left">
                To complement our warehouse service, we have our own fleet of Trucks to haul your
                containers to &amp; from any terminal in NY and NJ.
            </p>

        </div>

        <div class="text-center">
            <h5 class="display-5">View Our Warehouse In The Slides Below!</h5>
        </div>
    </div>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div><img src="~/images/warehouse1.jpg" /></div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container">
                    <div><img src="~/images/warehouse2.jpg" /></div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container">
                    <div><img src="~/images/warehouse3.jpg" /></div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container">
                    <div><img src="~/images/warehouse4.jpg" /></div>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}

